body{
    margin:0;
    padding: 0;
    background-image: url("./images/bg.png");
    background-size: cover 90vh 100vw;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    font-family: Verdana,Tahoma, sans-serif;
    
}

header{
    width: 95%;
    max-width: 788px;
    display: flex;
    justify-content: flex-end;
    padding:12px;
    margin-top: 15px;
}
.share-button{
    width: 40px;
    height:40px;
    border-radius:20px;
    background-color: transparent;
    opacity: 0.8;
}
.share-button svg{
    margin:8px 4px;
    width: 30px;
    height: 30px;
}

.container{
    width: 91%;
    max-width: 600px;
    margin: 10px;
    display:flex ;
    flex-direction: column;
    align-items: center;

}

.tile{
    width: 100%;
    background-color: grey;
    opacity: 0.6;
    margin: 7px;
    border-radius: 17px;
    padding:6px;
    display: flex;
    justify-content: space-between;
}
h1{
    font-size: 20px;
    color: white;
    margin-bottom: 30px;
}
a{
    text-decoration: none;
    color: white;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: large;
    font-weight: 400;
}

.image-container{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    overflow: hidden;

}
.image-container img{
    height: 100%;
}
.tile-share-button{
    margin:8px;
    width: 40px;
    height: 40px;

}

.tile-share-button svg{
    margin:8px 4px;
    width: 30px;
    height: 30px;
}

.icon svg {
    width: 40px;
    height: 40px;
    margin: 8px 8px;

}

.tile:hover{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s; 
    transform:scale(1.02);
}

#L1:hover{
    background-color: darkblue;
    transition: 0.5s;
    opacity:0.8;
    
}
#L2:hover{
    background-color: black;
    transition: 0.5s;
    opacity:0.8;
    
}
#L3:hover{
    background-color: darkorange;
    transition: 0.5s;
    opacity:0.8;
    
}
#L4:hover{
    background-color: red;
    transition: 0.5s;
    opacity:0.8;
    
}
#L5:hover{
    background-color: #E1306C;
    transition: 0.5s;
    opacity:0.8;
    
}

form{
    border: none;
    border-color: #E1306C;
    margin: 7px;
    border-radius: 17px;
    display: flex;
    outline: none;
    justify-content: center;
    
}


form input{

    border: 1px solid white;
    background-color:transparent ;
    margin: 0px 10px;
    border-radius: 17px;
    color:white;
    font-size: 20px;
    text-align: center;
    width: 100%;
    padding:3px;
    
}

#submit {
    width: 200px;
    text-align: center;
    font-size: 20px;
    color: white;
    background-color:black;
    opacity: 10;
    border-radius: 17px;
    border: none;
    padding: 10px;
    transition: .6s;
}

#submit:hover {
    color: white;
   opacity: 0.6;
    cursor: pointer;
    transition: .6s;
}

#p1{
    color: white;
    font-size: 10px;
    
}