* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,body {
    height: 100%;
    width: 100%;
    background: #FFF9C9;
  }
  
  .wrapper {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .wrapper .loader {
    /* background-color: yellow; */
    display: flex;
    justify-content: space-evenly;
    padding: 0 20px;
  }
  
  .loader .loading {
    background: #862B0D;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin: 0 10px;
    animation: load 0.7s ease infinite;
  }
  
  .loader .loading.one {
    animation-delay: 0.3s;
  }
  .loader .loading.two {
    animation-delay: 0.4s;
  }
  .loader .loading.three {
    animation-delay: 0.5s;
  }
  
  @keyframes load {
    0% {
      width: 30px;
      height: 30px;
    }
    50% {
      width: 20px;
      height: 20px;
    }
  }