*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  background: #EAC696;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  margin: 0 auto;
}

h1 {
  color: #000;
  font-size: 7vw;
  font-family: "Playfair Display SC", serif;
}

p {
  color: #000;
  width: 100%;
  font-family: sans-serif;
  letter-spacing: 2px;
  font-size: 1.7vw;
  text-align: center;
  margin-top: 20px;
}

button {
  padding: 0;
  margin: 0;
  border: transparent;
  background: transparent;
  color: #000;
  border: 2px solid #000;
  padding: 10px 20px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

/* JavaScript */
div.cursor {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  background: #5b3800;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}