*{
    box-sizing: border-box ;
}

#outer{
  /*  background-color:#96B6C5;*/
  background-color:#505050;
    margin:auto;
    heigth: 45vh;
    width:95%;
    border-radius:1em;
    padding: 4px;
    padding-top:3px;
}
input{
    
    width: 85%; 
    height: 5rem;
    text-align: right;
 /*  border : solid black 1.2px; */
   border-radius: 0.7em; 
    color: black;
    font-size: 2em;
    font-style:bold;
   /* background-color: #AFC4CE; */
   background-color:#D4D4D2;
  /* box-shadow: inset 0 -5px 10px 2px #6b756a,
                0 5px 10px 0px #3f423f;*/
}

#for_input{
    text-align: center;
    margin-top: 3em;
    
    
}
table{
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
}
.number{
        
}
.operations{
    background-color:98d8ce;
}
button{
    border-radius:20px;
    width: 17vw; 
    height:10vh;
    margin: 2px;
    background-color:#98d8ce;
    font-size:1.5em;
    color:black;
    
} 
#equal{
    width:55vw; 
    margin-top:10px;
    margin-bottom:25px;
}
#delete{
   margin-top:10px;
   margin-bottom:25px;
}
/*.operations{
    background-color:#98d8ce;
}*/
footer{
    text-align:center ;
    margin-top:30px;
    font-family:"Lucida Console","Courier New",monospace;
    font-size:1.5em;
    font-weight:bold ;
}

button:hover{
    opacity:0.5;
  }
  