@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "~@fortawesome/fontawesome-free/css/all.min.css"; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* color: white; */
}

html,body{
    overflow-x: hidden;
}