body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #222;
}

.clock {
    background-color: #333;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.time {
    font-size: 2em;
    color: #fff;
    text-align: center;
}
