* {
  justify-content: center;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.heading {
  display: block;
  text-align: center;
  background-color: #333;
  color: white;
  padding: 10px;
  font-family: "Arial Black", sans-serif;
}

.dashboard {
  display: flex;
  gap: 20rem;
  justify-items: center;
  border: 2px solid brown;
  margin: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.deposit {
  display: block;
  text-align: center;
  width: 50rem;
  color: blueviolet;
  border: 5px solid rebeccapurple;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
}

label {
  text-align: left;
  color: blue;
  display: block;
  margin-bottom: 5px;
}

input[type="tel"],
input[type="text"] {
  margin-bottom: 20px;
  border: 2px solid lightblue;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
}

input[type="radio"] {
  text-align: left;
  align-items: center;
  justify-content: center;
}

button {
  margin-bottom: 20px;
  width: 80px;
  height: 30px;
  background-color: aqua;
  border-color: blue;
  border-radius: 8px;
  cursor: pointer;
}

.balance {
  text-align: center;
  border: 5px solid rebeccapurple;
  width: 250px;
  margin: 10px;
  padding: 2%;
  background-color: #fff;
  border-radius: 10px;
}

table {
  border: 2px solid black;
  margin: 20px;
  width: 95%;
  background-color: white;
  border-radius: 10px;
}

th,
td {
  align-items: start;
  text-align: left;
  padding: 10px;
}
