
body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #8EC5FC; */
    /* background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); */
    background: rgba(0,0,0,0.45)url('./image/table1.jpg')no-repeat center center/cover;
    background-blend-mode: darken;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.login-container {
    /* background-color: #ffffff; */
    background: none;
    opacity: 0.76;
    /* border: 2px solid white; */
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
}

.login-container h2 {
    text-align: center;
    font-weight: 600;
}

.form-group {
    margin-bottom: 22px;
}

.form-group label {
    display: block;
    font-weight: 400;
}

.form-group input {
    width: 100%;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    padding-bottom: 5px;
    background-color: transparent;
    margin: 5px 0;
    color: white;
}

.form-group button {
    background-color: #1c6a46;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
    width: 30%;
}
.form-group button:hover {
    background-color: #1d4a17;
    transform: translateY(-3px);
}

